*{
	padding: 0px;
	margin:0px;
}
.a{
	float:left;
	width: 300px;
	height: 150px;
}
.aa{
	margin: auto;
	width: 1000px;
}
.b{
	clear:both;
	width: 1000px;
	height: 217px;
	background-image: url(images/banner.gif);
}
.c{
	margin-top: 30px;
	float:left;
	width: 300px;
	height: 120px;
}
.d{
	float: left;
	margin-top: 50px;
	width: 300px;
	height: 100px;
}
.e{
	width: 1000px;
	height: 50px;
	font-size: 20px;
}
.e li{
	float:left;
	list-style: none;
	border:1px;
	border-style: solid;
	width: 48px;
	text-align: center;
}
a:link{
	text-decoration: none;
	color:red;
}
.f1{
	margin:auto;
	width: 750px;
	height: 2800px;
}
.n{
	margin-top: 50px;
	margin:  auto;
	width: 750px;
	height: 200px;
}
.n1{
	margin:  auto;
	width: 750px;
	margin-top: 50px;
	height: 400px;
}
.n2{
	margin-top: 50px;
	width: 700px;
	height: 180px;
	margin:  auto;
	border-style: solid;
	border-width: 1px 0 0 0;
}
.n3{
	margin-top: 50px;
	width: 700px;
	height: 100px;
	margin:  auto;
	border-style: solid;
	border-width: 1px 0 0 0;
}
.nn2{
	color:blue;
	font-size: 15px;
}
.m{
	margin-top: 40px;
	clear:both;
	width: 1000px;
	height: 80px;
	text-align: center;
	font-size: 15px;
}
.m ul{
	margin-left: 300px;
}
.m ul li{
	float:left;
	list-style-type:none;
	border-width: 0px 2px 0px 0px;
	border-style: solid;
}
#abcd{
	border-width: 0px;
}